
<div class="row ">
  <div class="col-12 col-md-4 mx-auto" *ngIf="resultados.length === 0">
    <div class="alert alert-primary text-center mt-5" role="alert">
      Aca no hay nada :( 
    </div>
  </div>
    <div *ngFor="let gif of resultados"
     class="col-md-4 col-ms-2">
        <div class="card mb-4">
            <img [src]="gif.images.downsized_medium.url" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                  {{gif.title}}
              </p>
            </div>
          </div>
    </div>
</div>